// base color
$black: #000;
$blue: #0369b4;
$white: #fff;
$gray: #eff2f7;

// default color
$text-color: #19192d;
$border-color: #ddd;
$active-color: #0369b4;
$background-color: $white;
$background-color-gray: #eff2f7;
$placeholder-color: #999;

// ZbCell
$zb-cell-text: #3b3e48;
